.auth-modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-modal {
  width: 400px;
  background-color: #FFF;
  border-radius: $border-radius;
}

.auth-modal h1 {
  margin-bottom: 30px;
}

.auth-modal p {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.auth-modal form {
  margin-top: 30px;
}

.auth-modal label {
  margin-bottom: 10px;
  display: flex;
}