.main-content {
  width: $main-content-width;
  height: $main-content-height;
  position: absolute;
  top: $navbar-height;
  left: $sidebar-width;
}

.main-content__title {
  padding: $base-padding-2;
  border-bottom: $border-style;
  h1 {
    font-size: 1.5rem;
    line-height: 1em;
  }
}