.sidebar {
  width: $sidebar-width;
  height: $sidebar-height;
  position: absolute;
  top: 0;
  left: 0;
  border-right: solid 1px #ddd;
  background-color: #fff;
}

.sidebar__content {
  height: calc(100% - #{$navbar-height});
  display: flex;
  flex-direction: column;
}

.sidebar__logo {
  height: $navbar-height;
  border-bottom: $border-style;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
}

.sidebar .navigation {
  margin-top: $base-padding-1;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar .navigation a {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 $base-padding-2;
  text-decoration: none;
  color: rgba(#000, .7);
  &:hover {
    background-color: rgba(#000, .05);
  }
}

.sidebar .navigation a.current-page {
  color: $primary-color;
  padding-left: $base-padding-2 * 1.5;
  &::after {
    content: "";
    width: 5px;
    height: 100%;
    background-color: $primary-color;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.sidebar .stats {
  border-top: $border-style;
  padding: $base-padding-2;
  .stat-group {
    &:not(:last-child) {
      margin-bottom: $base-padding-2;
    }
  }
  .stat-key {
    @extend .strong-label;
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }
  .stat-value {
    opacity: .5;
  }
}