.button {
  @extend .strong-label;
  @include flex-center;
  height: $base-ui-height;
  padding: 0 20px;
  background-color: $primary-color;
  color: #fff;
  border: solid 2px $primary-color;
  cursor: pointer;
}

.button:hover {
  background-color: #FFF;
  color: $primary-color;
}

input[type="submit"],
button {
  @extend .button;
}