.event {
  display: flex;
  align-items: center;
}

.event__item {
  &:not(:last-child) {
    margin-right: $base-padding-2;
  }
}

.event__in {
  .event__type span {
    background-color: $primary-color;
  }
}

.event__type {
  width: 80px;
  span {
    @extend .strong-label;
    background: #000;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 100px;
  }
}

.event__description {
  opacity: .5;
}

.event__amount {
  flex: 1;
  text-align: right
}