input {
  width: 100%;
  height: $base-ui-height;
  padding: 0 12px;
  display: flex;
  font-size: 100%;
  font-family: $font-face;
  font-weight: 300;
  border-radius: $border-radius;
  border: $border-style;
  outline: 0;
}

input:focus {
  box-shadow: 0px 1px 10px rgba(#000, .08);
  border-color: $primary-color;
  border-width: 2px;
}