.navbar {
  width: $navbar-width;
  height: $navbar-height;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  border-bottom: $border-style;
  background-color: #FFF;
}

.navbar .user-profile {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: $base-padding-2;
  flex: 1;
}

.navbar .user-profile__avatar {
  width: 40px;
  height: 40px;
  margin-left: $base-padding-1;
  background-color: #DDD;
  border-radius: $border-radius;
}