// Font settings
$font-face:                 'Poppins', sans-serif;
$normal-weight:             400;
$bold-weight:               600;

// Dimensions
$base-padding-1:            10px;
$base-padding-2:            20px;
$base-ui-height:            45px;

// Base styles
$border-style:              solid 1px #DDD;
$border-radius:             3px;

// Color codes
$primary-color:             #27d64a;

/* ---------------------------------------- */
/* Components
/* ---------------------------------------- */

// Sidebar
$sidebar-width:             190px;
$sidebar-height:            100%;

// Navbar
$navbar-width:              calc(100% - #{$sidebar-width});
$navbar-height:             80px;

// Main Content
$main-content-width:        calc(100% - #{$sidebar-width});
$main-content-height:        calc(100% - #{$navbar-height});